{% extends "base.html" %}

{% load static %}

{% block titulo %}
    Cadastro de Usuarios
{% endblock %}

{% block conteudo %}
    <div style="margin-bottom: 15px;">
        <h4 style="margin-bottom: 10px;">Cadastro de Usuarios</h4>
        <hr style="margin-bottom: 0px;">
    </div>

    {% if messages %}
        <div class="row mb-1">
            <div class="col-12">
                {% for message in messages %}
                    <ul class="list-group rounded {{ message.tags }}">
                        {# Supondo a utilização de apenas info e danger #}
                        <li style="padding-top: 7px; padding-bottom: 7px;"
                            class="list-group-item list-group-item-{% if message.tags == 'info' %}info{% else %}danger{% endif %}">
                            {{ message }}
                        </li>
                    </ul>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="row mb-3">
        <div class="col-lg-2">
            <span class="texto"><b>Nome: </b></span>
        </div>
        <div class="col-lg-10">
            <span class="texto">{{ usuario.nome }}</span>
        </div>

        <div class="col-lg-2">
            <span class="texto"><b>E-mail: </b></span>
        </div>
        <div class="col-lg-10">
            <span class="texto">{{ usuario.email }}</span>
        </div>

        <div class="col-lg-2">
            <span class="texto"><b>CPF: </b></span>
        </div>
        <div class="col-lg-10">
            <span class="texto">{{ usuario.cpf }}</span>
        </div>
        <div class="col-lg-2">
            <span class="texto"><b>Nascimento: </b></span>
        </div>
        <div class="col-lg-10">
            <span class="texto">{{ usuario.nascimento | date:'d/m/Y' }}</span>
        </div>
        <div class="col-lg-2">
            <span class="texto"><b>Data de Cadastro: </b></span>
        </div>
        <div class="col-lg-10">
            <span class="texto">{{ usuario.data_cadastro | date:'d/m/Y' }}</span>
        </div>
    </div>

    {% if form_remove_usuario %}
        <div class="form-group row" style="margin-bottom: 0px;">
            <div class="col-12">
                <div class="form-inline">
                    <a id="botao_editar" href="{% url 'produto:edita_usuario' usuario.id %}"
                       class="btn btn-primary mr-3">
                        Editar
                    </a>

                    <form id="form_remove_usuario" style="margin-bottom: 0px;"
                          action ="{% url 'produto:remove_usuario' %}" method ="post" novalidate>
                        {% csrf_token %}

                        <button id="botao_remover" type="button" class="btn btn-danger">
                            Remover
                        </button>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block domready %}
    $("#botao_remover").click(function() {
        $("#form_remove_usuario").append('{{ form_remove_usuario.usuario_id }}')
        $("#form_remove_usuario").submit()
    })
{% endblock %}


















